.memori-panel--container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    color: var(--memori-text-color);
    min-width: 180px;
    background: rgb(0 0 0 / 50%);
    border-radius: 30px;
}
}

.memori-panel-user-text--container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.memori-panel-user-text--title{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0px;
}

.memori-panel-user-text--text{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 0.8rem;
    font-weight: 400;
    max-width: 200px;
}

.memori-panel-logged-user--text{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0px;
}

.memori-panel-user-text--button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--memori-secondary);
    color: var(--memori-text-color);
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    background-color: var(--memori-primary);
}

.memori-panel-logged-user--container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--memori-text-color);
    padding-bottom: 10px;
}

.memori-panel-logged-user--avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.memori-panel-unlogged-user--avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f8f8f8;
    display: flex;
}

.memori-panel-logged-user--text{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0px;
    color: var(--memori-text-color);
}

.memori-panel-user-text--button-desktop{
    display: block;
}

.memori-panel-user-text--button-mobile{
    display: none;
}


@media (max-width: 768px) {
    .memori-panel-user-text--button-mobile{
        display: block;
    }
    .memori-panel-user-text--button-desktop{
        display: none ;
    }
    .memori-panel--container{
        display: none;
    }
}