.memori-chat--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 80%;
        gap: 20px;
        min-height: 80vh;
        justify-content: space-between;
        margin-left: 20px;
}

.memori-chat--header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        gap: 10px;
}

.memori-chat--header--avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 12px;
        left: 2px;
}

.memori-chat--header--cover{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        min-height: 30vh;
}

.memori-chat--header--text{
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0px;
        color: var(--memori-text-color);
}

.memori-chat--input--container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
}

.memori-chat--input{
        width: 100%;
        height: 100%;
        padding: 10px;
        height: 40px;
        border-radius: 30px;
        margin-right: 10px;
        color: var(--memori-text-color);
        border: none;
        outline: none;
        font-size: 1rem;
}

.memori-chat--input--button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100px;
        height: 40px;
        color: #fff;
        border-radius: 30px;
        border: 1px solid #000;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: #000;
}


.memori-chat--spin-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
}

.memori-chat--spin{
        width: 10rem;
        height: 10rem;
}


@media screen and (max-width: 768px){
        .memori-chat--container{
                max-width: 90%;
                margin-left: 0px;
        }
}